$color-card-black: #313131;
$color-card-red: #ff1744;

$color-white: #fafafa;
$color-black: #1a1a1a;
$color-gray-darkest: #313131;

$color-yellow: #ffee58;
$color-purple: #330e62;
$color-purple-dark: #140526;
